/****** Object:  Database [AlluvialSqlDistributor]    Script Date: 7/4/2015 10:34:16 AM ******/
CREATE DATABASE [AlluvialSqlDistributor]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AlluvialSqlDistributor].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AlluvialSqlDistributor]
GO
/****** Object:  Schema [Alluvial]    Script Date: 7/4/2015 10:34:17 AM ******/
CREATE SCHEMA [Alluvial]
GO
USE [AlluvialSqlDistributor]
GO
/****** Object:  Sequence [Alluvial].[Tokens]    Script Date: 7/4/2015 10:34:17 AM ******/
CREATE SEQUENCE [Alluvial].[Tokens] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 2147483647
 CYCLE 
 CACHE 
GO
/****** Object:  StoredProcedure [Alluvial].[AcquireLease]    Script Date: 7/4/2015 10:34:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Alluvial].[AcquireLease]
	@scope nvarchar(50),
	@waitIntervalMilliseconds int = 5000, 
	@leaseDurationMilliseconds int = 60000
	AS
	BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE

	DECLARE @resourceName nvarchar(50)
	DECLARE @now datetimeoffset
	DECLARE @token int

	SELECT @token = NEXT VALUE FOR Tokens
	SELECT @now = SYSDATETIMEOFFSET()
	
	BEGIN TRAN

	SELECT @resourceName = (SELECT TOP 1 ResourceName FROM Leases with (xlock,ROWLOCK)
		WHERE 
		Scope = @scope
			AND 
		Expires < @now 
			AND 
		DATEADD(MILLISECOND, @waitIntervalMilliseconds, LastReleased) < @now 
		ORDER BY LastReleased)

	UPDATE Leases
		SET LastGranted = @now,
		Expires = DATEADD(MILLISECOND, @leaseDurationMilliseconds, @now),
		Token = @token
		WHERE ResourceName = @resourceName
		AND Scope = @scope

	COMMIT TRAN

	SELECT * FROM Leases 
	WHERE ResourceName = @resourceName 
	AND Token = @token

	END


GO
/****** Object:  StoredProcedure [Alluvial].[ExtendLease]    Script Date: 7/4/2015 10:34:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Alluvial].[ExtendLease]

@resourceName nvarchar(50),
@byMilliseconds int, 
@token int  
AS
BEGIN
SET NOCOUNT ON;

BEGIN TRAN

DECLARE @expires datetimeoffset(7)

SELECT @expires = 
(SELECT Expires FROM Leases 
	WHERE ResourceName = @resourceName 
	AND Token = @token)

UPDATE Leases

SET Expires = DATEADD(MILLISECOND, @byMilliseconds, @expires)
WHERE ResourceName = @resourceName 
AND Token = @token
AND Expires >= SYSDATETIMEOFFSET()

IF @@ROWCOUNT = 0
	BEGIN
		ROLLBACK TRAN;
		THROW 50000, 'Lease could not be extended', 1;
	END
ELSE
	COMMIT TRAN;
END


GO
/****** Object:  StoredProcedure [Alluvial].[ReleaseLease]    Script Date: 7/4/2015 10:34:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Alluvial].[ReleaseLease]

@resourceName nvarchar(50)  , 
@token int  
AS
BEGIN
SET NOCOUNT ON;

DECLARE @now DATETIMEOFFSET(7)
SELECT @now = SYSDATETIMEOFFSET()

UPDATE Leases
SET LastReleased = @now,
    Expires = null
WHERE ResourceName = @resourceName 
AND Token = @token

SELECT LastReased = @now

END


GO
/****** Object:  Table [Alluvial].[Leases]    Script Date: 7/4/2015 10:34:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Alluvial].[Leases](
	[ResourceName] [nvarchar](50) NOT NULL,
	[Scope] [nvarchar](50) NOT NULL,
	[LastGranted] [datetimeoffset](7) NULL,
	[LastReleased] [datetimeoffset](7) NULL,
	[Expires] [datetimeoffset](7) NULL,
	[Token] [int] NULL,
 CONSTRAINT [PK_Leases_1] PRIMARY KEY CLUSTERED 
(
	[ResourceName] ASC,
	[Scope] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_Leases.Token]    Script Date: 7/4/2015 10:34:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_Leases.Token] ON [Alluvial].[Leases]
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
